<mat-card>
  <form>
    <mat-form-field id="car-map-input" color="accent">
      <mat-label>CAR</mat-label>
      <input
        type="text"
        matInput
        [formControl]="CARFormControl"
        placeholder="Ex. ES-XXXXXXX-XXXXXXX..."
      />
    </mat-form-field>
  </form>
  <mat-selection-list #CARList (selectionChange)="selectedItem($event)" [multiple]="false" [hideSingleSelectionIndicator]="true">
    @if (listRuralPropertiesMinimumService.listRuralProperties$ | async; as geoSpatialInformation) {
      @for (item of geoSpatialInformation.values; track $index) {
        <mat-list-option [value]="item"
          >{{item.code}}</mat-list-option
        >
    } }
  </mat-selection-list>
</mat-card>
