<app-section-title
  [title]="
    'Localização' +
    ' - ' +
    ruralProperty()?.location?.informationDatabase?.databaseName
  "
  [subTitle]="
    'Ultima atualização: ' +
    ruralProperty()?.location?.informationDatabase?.lastUpdate
  "
/>
<p>
  Município: {{ ruralProperty()?.location?.municipality?.code ?? "" }} -
  {{ ruralProperty()?.location?.municipality?.name ?? "" }}
</p>
<p>
  Microrregião: {{ ruralProperty()?.location?.microregion?.code ?? "" }} -
  {{ ruralProperty()?.location?.microregion?.name ?? "" }}
</p>
<p>
  Mesorregião: {{ ruralProperty()?.location?.messoregion?.code ?? "" }} -
  {{ ruralProperty()?.location?.messoregion?.name ?? "" }}
</p>
<app-section-divider></app-section-divider>
