<h4>Embargos</h4>

<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="expansionHeader">
      <p>Data: 09/05/2012</p>
      <p>Nome: Heflain da Rocha Mendes</p>
    </mat-expansion-panel-header>
    <p>CPF: 123.456.789-00</p>
    <p>Área: 10,00 ha</p>
    <p>Processo: 123456789</p>
    <p>
      Descrição: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
      fugit tempore, laboriosam eum eligendi et mollitia ipsa, labore voluptate
      nemo quam impedit, placeat consequuntur fuga reiciendis voluptatibus
      officia perspiciatis corrupti!
    </p>
    <p>
      Legislação: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
      fugit tempore, laboriosam eum eligendi et mollitia ipsa, labore voluptate
      nemo quam impedit
    </p>
    <p>
      Artigo: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
      fugit tempore, laboriosam eum eligendi et mollitia ipsa, labore voluptate
      nemo quam impedit
    </p>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header class="expansionHeader">
      <p>Data: 09/05/2012</p>
      <p>Nome: Heflain da Rocha Mendes</p>
    </mat-expansion-panel-header>
    <p>CPF: 123.456.789-00</p>
    <p>Área: 10,00 ha</p>
    <p>Processo: 123456789</p>
    <p>
      Descrição: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
      fugit tempore, laboriosam eum eligendi et mollitia ipsa, labore voluptate
      nemo quam impedit, placeat consequuntur fuga reiciendis voluptatibus
      officia perspiciatis corrupti!
    </p>
    <p>
      Legislação: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
      fugit tempore, laboriosam eum eligendi et mollitia ipsa, labore voluptate
      nemo quam impedit
    </p>
    <p>
      Artigo: Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt
      fugit tempore, laboriosam eum eligendi et mollitia ipsa, labore voluptate
      nemo quam impedit
    </p>
  </mat-expansion-panel>
</mat-accordion>
<div class="margin-bottom-1rem"></div>
