<app-section-title
  [title]="
    'Supressão total da vegetação nativa' +
    ' - ' +
    ruralProperty()?.deforestations?.informationDatabase?.databaseName
  "
  [subTitle]="
    'Ultima atualização: ' +
    ruralProperty()?.deforestations?.informationDatabase?.lastUpdate
  "
/>

<div class="center-graph" id="grafico-pie-deforestation"></div>
<app-section-divider />

@if(showgraphBar()){
<app-section-title
  [title]="
    'Supressão anual da vegetação nativa(ha)' +
    ' - ' +
    ruralProperty()?.deforestations?.informationDatabase?.databaseName
  "
  [subTitle]="
    'Ultima atualização: ' +
    ruralProperty()?.deforestations?.informationDatabase?.lastUpdate
  "
/>

<div class="center-graph" id="grafico-bar-deforestation"></div>
@if(mesageLarge()){
  <p id="msg-muitas-barras">mova o gráfico para os lado, para visualizar barras que podem estar ocultas</p>
}
<app-section-divider />
}

