<!-- <app-section-title>Assentamento</app-section-title> -->
<app-section-title
  [title]="
    'Assentamento' +
    ' - ' +
    ruralProperty()?.settlements?.informationDatabase?.databaseName
  "
  [subTitle]="
    'Ultima atualização: ' +
    ruralProperty()?.settlements?.informationDatabase?.lastUpdate
  "
/>

@for (item of ruralProperty()?.settlements?.values; track $index) {
<mat-accordion>
  <mat-expansion-panel class="max-height-150-px">
    <mat-expansion-panel-header class="max-height-150-px">
      <p>{{ item.nameProject }}</p>
    </mat-expansion-panel-header>
    <p>Código SIPRA: {{item.codeSIPRA}}</p>
    <p>Número da fámilia: {{item.familyNumber}}</p>
    <p>Data criação: {{item.creationDate}}</p>
    <p>Forma de obtenção: {{item.wayObtaining}}</p>
    <p>Data obtenção: {{item.dateObtaining}}</p>
    <p>Área de intersessão: {{ item.areaIntersectHa }}</p>
    <p>% Área de intersessão: {{ item.percentageOfThePropertyArea }}</p>
  </mat-expansion-panel>
</mat-accordion>
} @empty {
<p class="center">
  Não há intersessão com os dados do
  {{ ruralProperty()?.settlements?.informationDatabase?.databaseName }}
</p>
}
<app-section-divider />
