<ng-container class="height-100">
  <mat-card class="height-100">
    <mat-card-header>
      <button mat-icon-button
      (click)="toClosed.emit()">
        <mat-icon
          aria-hidden="false"
          aria-label="botão para fechar o card de opções"
          fontIcon="close"
        ></mat-icon>
      </button>
    </mat-card-header>

    <mat-divider></mat-divider>

    <mat-card-content>
      <app-car car="ES-3201308-E503A6FB7D9A4274AB2571218CD79416"></app-car>
      <app-location></app-location>
      <app-conservation-unit></app-conservation-unit>
      <app-indigenous-lands></app-indigenous-lands>
      <app-settlement></app-settlement>
      <app-deforestation></app-deforestation>
      <app-embargo></app-embargo>
    </mat-card-content>

    <mat-card-footer>
      <mat-divider></mat-divider>
      <mat-card-actions>
          <button mat-raised-button color="accent">Baixar relatório</button>
      </mat-card-actions>
    </mat-card-footer>
  </mat-card>
</ng-container>
