.over-map{
    position: absolute;
    z-index: 1000;
}

app-information-guide{
    top: 0;
    right: 0;
    width: 30vw;
    height: 95vh;
    margin: 10px;
}

app-side-options{
    top: 0;
    left: 0;
    width: 20vw;
    height: 50vh;
    margin: 10px;
}

app-map-controls{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 10px;
}

app-draw-interaction{
    position: absolute;
    top: 0;
    left: 20.5vw;
}
