<ng-container class="height-100">
  <mat-card class="height-100">
    <mat-card-header>
      <button mat-icon-button id="button-close" (click)="toClosed.emit()">
        <mat-icon
          aria-hidden="false"
          aria-label="botão para fechar o card de opções"
          fontIcon="close"
        ></mat-icon>
      </button>
    </mat-card-header>

    <mat-divider></mat-divider>

    @if(isLoading$ | async; as a){
    <div class="container">
      <mat-spinner></mat-spinner>
    </div>
    }@else {
    <mat-card-content>
      <app-car [ruralProperty]='ruralProperty'></app-car>
      <app-location [ruralProperty]='ruralProperty'></app-location>
      <app-conservation-unit [ruralProperty]='ruralProperty'></app-conservation-unit>
      <app-indigenous-lands [ruralProperty]='ruralProperty'></app-indigenous-lands>
      <app-settlement [ruralProperty]='ruralProperty'></app-settlement>
      <app-alert [ruralProperty]='ruralProperty'></app-alert>
      <app-deforestation [ruralProperty]='ruralProperty'></app-deforestation>
      <app-embargo [ruralProperty]='ruralProperty'></app-embargo>
      <app-use-coverage [ruralProperty]='ruralProperty'></app-use-coverage>
    </mat-card-content>

    <mat-card-footer>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button mat-raised-button (click)="downloadPdf()" color="accent">Baixar relatório</button>
      </mat-card-actions>
    </mat-card-footer>
    }
  </mat-card>
</ng-container>
