<app-section-title
  [title]="
    'Embargos' +
    ' - ' +
    ruralProperty()?.embargoes?.informationDatabase?.databaseName
  "
  [subTitle]="
    'Ultima atualização: ' +
    ruralProperty()?.embargoes?.informationDatabase?.lastUpdate
  "
/>
@for (item of ruralProperty()?.embargoes?.values; track $index) {
<mat-accordion>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <p>
        Data: {{ item.embargoIssuanceDate }}<br />
        Nome: {{ item.nameEmbargoed }}
      </p>
    </mat-expansion-panel-header>
    <p>Identificação: {{item.identificationEmbargoTerm}}</p>
    <p>CPF: {{ item.cpfCnpj }}</p>
    <p>Área: {{ item.areaIntersectHa }} ha</p>
    <p>Processo: {{ item.administrativeProcessNumber }}</p>
    <p>Descrição: {{ item.infractionDescription }}</p>
    <p>Legislação: {{ item.legislation }}</p>
    <p>Artigo: {{ item.article }}</p>
    <p>Status: {{item.status}}</p>

    <p>Área de intersessão: {{ item.areaIntersectHa }}</p>
    <p>% Área de intersessão: {{ item.percentageOfThePropertyArea }}</p>
  </mat-expansion-panel>
</mat-accordion>
} @empty {
<p class="center">
  Não há intersessão com os dados do
  {{ ruralProperty()?.embargoes?.informationDatabase?.databaseName }}
</p>
}
<app-section-divider />
