.center {
    text-align: center;
}

h4 {
    font-weight: 600;
    margin: 1rem 0px;
    text-align: center;
}

p {
    margin-bottom: 0.2em;
}

mat-divider {
    margin: 1em 0px;
}

.desmatamento {
    width: 100%;
    justify-content: center;
    display: flex;
}

.expansionHeader p:nth-child(1){
    margin-right: 20px;
}

.margin-bottom-1rem{
  margin-bottom: 1rem;
}
